.container{
    display: flex;
    width: 100%; 
}

.estrutura{
    background-color: white;
    box-shadow: 0px 4px 4px 0px;
}

.titulo{
    font-weight: 200;
    font-size: 18px;
}

.botao{
    background-color: #252525;
    width: auto;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0px 4%;
    margin-left: 100px;

    font-weight: 400;
    font-size: 18px;
}

@media (max-width: 600px){
    .container{
        flex-direction: column;
    }
    .botao{
        padding: 0px 35%;
        margin-left: 0px;
        border-radius: 30px;
    }
   
}


